::selection {
    background: var(--dpago-header);
    color: var(--dpago-bg);
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    background: var(--dpago-bg);
    color: var(--dpago-text);
    min-width: 100vw;
    min-height: 100vh;

    /*font-family: 'Source Sans Pro', sans-serif;*/
    /*font-family: monospace;*/
    font-family: sans-serif;
}

a {
    color: var(--dpago-text);
    text-decoration: none;
}
a:visited {
    color: var(--dpago-text);
}
header {
    color: var(--dpago-header);
}

.h-100 {
    position: relative;
}

.flex {
    display: flex;
    flex-flow: column nowrap;
}
.flex hr {
    width: 100%;
    margin-block: 2rem;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* nav pre {
    line-height: 110%;
    font-size: .4rem;
}
nav .nav-logo {
    font-size: .21rem;
} */

nav pre {
    line-height: 110%;
    font-size: .3rem;
}
nav .nav-logo {
    font-size: .15rem;
}

nav a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.page-header {
    font-family: monospace;
}
.page-header > p {
    text-align: center;
    margin: 0;
    padding: 0;
}
.page-header > .ascii-logo {
    font-size: .8rem;
    white-space: pre;
    text-align: center;
}

@media only screen and (min-width: 501px) {
    .page-header > .ascii-logo {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 992px) {
    .main-padding {
        padding-inline: 10rem;
    }
}

@media only screen and (min-width: 1200px) {
    .main-padding {
        padding-inline: 20rem;
    }
}